<% t = Time.now %>
<% gusses, solve = eval(method) %>
<% real = Time.now - t %>

<%= col size: 5, lg: { size: 2 }  do %>
  <%= card nil, {class: 'mt4'} do |c| %>
    <%= c.header 'Result' %>
    <%= c.body do %>
      <p>Method: <strong><%= method %></strong>
      <p>Answer: <strong><%= decorate_word(session[:word], solve) %></strong></p>
      <p>Time: <strong><%= real %></strong></p>
      <p>Attempts: <strong><%= gusses.length %></strong></p>
    <% end %>
  <% end %>

  <%= card 'Past Guesses (last 100)', class: 'mt-4' do |c| %>
    <%= c.body do %>
      <ol>
        <% gusses.last(100).each do |guess| %>
            <li><%= decorate_word(session[:word], guess) %></li>
        <% end %>
      </ol>
    <% end %>
  <% end %>
<% end %>
