<%= row do %>
  <%= col size: 1 do %>
  <% end %>
  <% @methods.each do |method| %>
    <%= futurize partial: 'wordle/method', html_options: {class: 'col-5 col-lg-2'}, extends: 'div', broadcast_each: true, locals: {method: method} do %>

      <%= card nil, {class: 'mt4', style: 'height: 235px'} do |c| %>
        <%= c.header 'Result' %>
        <%= c.body do %>
          <p>Method: <strong><%= method %></strong>
          <p>Answer: <strong></strong></p>
          <p>Time: <strong></strong></p>
          <p>Attempts: <strong></strong></p>
        <% end %>
      <% end %>
      <%= card 'Past Guesses (last 100)', class: 'mt-4' do |c| %>
        <%= c.body do %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
