<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body id='body-content'>
    <%= render partial: 'layouts/main_navigation' %>
    <% if controller_name == 'samples' %>
      <div class="container-fluid">
        <div class="row flex-nowrap">
          <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <%= render partial: '/samples/navigation' %>
            </div>
          </div>
          <div class="col py-3">
            <div class='container-fluid mt-4'>
              <%= flash_messages %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= flash_messages %>
      <div class='container-fluid mt-4'>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
